/**
 * Splash display
 * ----------------------------------
*/

section#splash div.ad-container {
	height: 281px;
	max-height: 281px;
	min-height: 281px;
}

section#splash div.ad-container div.ad-contents h2 {
	display: none;
}

@media screen and (min-width: 1280px) {
	section#splash div.ad-container.city {
		background-position: center center;
		background-size: 100% auto;
	}
}

@media screen and (min-width: 2000px) {
	section#splash div.ad-container.state {
		background-position: center center;
		background-size: 100% auto;
	}
}

/**
 * City disks
 * ----------------------------------
*/

ul.cities {
	list-style: none;
	margin: 0px;
	padding: 40px 0px 0px 0px;
	text-align: center;
}

ul.cities li {
	display: inline-block;
	height: 220px;
	margin: 25px;
	position: relative;
	vertical-align: top;
	width: 180px;
}

ul.cities li div {
	-moz-box-shadow: inset 0px 0px 0px 6px rgba(255, 255, 255, 0.8);
	-ms-box-shadow: inset 0px 0px 0px 6px rgba(255, 255, 255, 0.8);
	-o-box-shadow: inset 0px 0px 0px 6px rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: inset 0px 0px 0px 6px rgba(255, 255, 255, 0.8);
	box-shadow: inset 0px 0px 0px 6px rgba(255, 255, 255, 0.8);

	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

	background-repeat: no-repeat;
	border-radius: 50%;
	height: 180px;
	width: 180px;
}

ul.cities li div:hover {
	-moz-box-shadow: inset 0px 0px 0px 90px rgba(255, 255, 255, 0.7);
	-ms-box-shadow: inset 0px 0px 0px 90px rgba(255, 255, 255, 0.7);
	-o-box-shadow: inset 0px 0px 0px 90px rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: inset 0px 0px 0px 90px rgba(255, 255, 255, 0.7);
	box-shadow: inset 0px 0px 0px 90px rgba(255, 255, 255, 0.7);
}

ul.cities li div p {
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	-webkit-opacity: 0;
	filter:alpha(opacity=0)
	opacity: 0;

	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 50%;
	color: #777777;
	height: 33px;
	font-weight: bolder;
	margin: 0px !important;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 115px;
	width: 33px;
}

ul.cities li div p.highlight {
	color: #FAA732;
}

ul.cities li div:hover p {
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	-webkit-opacity: 1;
	filter:alpha(opacity=100)
	opacity: 1;

	top: 65px;
}

ul.cities li div p.needed {
	left: 34px;
}

ul.cities li div p.shares {
	right: 33px;
}

ul.cities li div p span {
	color: #777777;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 1;
	margin-top: 0px;
}

ul.cities li a {
	color: #777777;
}

ul.cities li a h3 {
	font-size: 18px;
	font-weight: lighter;
	height: 37px;
	line-height: 1.25;
	margin: 0px;
	max-height: 37px;
	overflow: hidden;
	padding: 10px;
	text-align: center;
	text-overflow: ellipsis;
}

@media screen and (max-width: 890px) {  
	ul.cities li {
		border-bottom: 1px solid #DDDDDD;
		display: block;
		height: auto;
		margin: 0px;
		padding: 25px 0px;
		width: 100%;
	}

	ul.cities li:last-child {
		border-bottom: none;
	}

	ul.cities li div {
		-moz-box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
		-ms-box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
		-o-box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
		-webkit-box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
		box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0);

		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		-webkit-transition: none;
		transition: none;

		background-position: -40px -40px;
		height: 100px;
		width: 100px;
	}

	ul.cities li div:hover {
		-moz-box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
		-ms-box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
		-o-box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
		-webkit-box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
		box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
	}

	ul.cities li div p {
		-moz-opacity: 1;
		-ms-opacity: 1;
		-o-opacity: 0;
		-webkit-opacity: 1;
		filter:alpha(opacity=100)
		opacity: 1;

		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		-webkit-transition: none;
		transition: none;

		background: none;
		border: none;
		font-size: 20px;
		font-weight: lighter;
		width: auto;
	}

	ul.cities li div:hover p {
		top: 60px;
	}

	ul.cities li div p.needed {
		left: 115px;
		top: 60px;
	}

	ul.cities li div p.shares {
		left: 115px;
		right: auto;
		top: 83px;
	}

	ul.cities li div p span {
		display: inline;
	}

	ul.cities li a h3 {
		left: 115px;
		position: absolute;
		top: 25px;
	}
}

/**
 * Destination city list
 * ----------------------------------
*/

ul.destinations {
	margin: 40px 0px 0px 0px;
	text-align: center;
}

ul.destinations > li {
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
	display: inline-block;
	list-style: none;
	margin: 14px 7px;
	max-width: 230px;
	width: 30%;
}

ul.destinations > li:hover {
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.65);
}

ul.destinations li img.mobile {
	display: none;
}

ul.destinations li h3 {
	color: #222;
	font-size: 14px;
	height: 33px;
	font-weight: bolder;
	line-height: normal;
	margin: 7px;
}

ul.destinations li ul {
	background: #F5F5F5;
	border-top: 1px solid #E7E7E7;
	font-size: 12px;
	height: 21px;
	margin: 7px 0px 0px 0px;
	padding: 7px 8px;
}

ul.destinations li ul li {
	background: url(sprites/browse.png) no-repeat;
	color: #76736E;
	display: inline-block;
	list-style: none;
	padding-left: 23px;
	text-align: left;
}

ul.destinations li ul li.departure {
	background-position: 0px 4px;
	float: left;
}

ul.destinations li ul li.occupants {
	background-position: 6px -29px;
	float: right;
	text-align: center;
	width: 15px;	
}

ul.destinations li ul li span.mobile {
	display: none;
}

@media screen and (max-width: 890px) {  
	ul.destinations li ul li.departure span.desktop {
		display: none;
	}
}

@media screen and (max-width: 675px) {
	ul.destinations > li {
		box-shadow: none;
		display: block;
		height: 100px;
		margin: 14px 0px;
		max-width: none;
		padding: 15px 0px;
		text-align: left;
		width: 100%;
	}
	
	ul.destinations > li:hover {
		box-shadow: none;
	}
	
	ul.destinations li img.desktop {
		display: none;
	}
	
	ul.destinations li img.mobile {
		border-radius: 100%;
		display: inline;
		float: left;
	}
	
	ul.destinations li h3 {
		font-size: 18px;
		font-weight: lighter;
		margin: 0px;
		padding: 10px 0px 0px 115px;
	}
	
	ul.destinations li ul {
		background: none;
		border-top: none;
		height: auto;
		margin-top: 0px;
		padding: 0px 0px 12px 115px;
	}
	
	ul.destinations li ul li {
		display: block;
		float: none !important;
		text-align: left !important;
	}
	
	ul.destinations li ul li.departure {
		background-position: 1px 4px;
	}
	
	ul.destinations li ul li.occupants {
		background-position: 1px -29px;
		margin-top: 5px;
		width: auto;
	}
	
	ul.destinations li ul li span.mobile {
		display: inline;
	}
}

/**
 * Nothing available section
 * ----------------------------------
*/

a.btn {
	color: #FFFFFF;
	margin: 30px 20px;
}