/**
 * Welcome section
 * ----------------------------------
*/

section.welcome {
	width: 100%;
}

section.welcome article.map {
	height: 365px;
	width: 100%;
}

section.welcome article.map h2 {
	display: none;
}

section.welcome article.map img {
	max-width: none; /* Fixes a Google Maps/Twitter Bootstrap styling conflict */
}

section.welcome div#chart {
	min-width: 310px;
	height: 300px; 
	margin: 0px;
	width: 100%
}

section.welcome ul.stats {
	background-color: rgba(51, 51, 51, 0.9);
	height: 74px;
	margin: 0px;
	text-align: center;
	width: 100%;
}

section.welcome ul.stats li {
	border-left: 1px solid #DDDDDD;
	color: #FFFFFF;
	display: inline-block;
	font-size: 36px;
	font-weight: 300;
	height: 74px;
	list-style: none;
	padding: 0px 10px;
	text-align: center;
	vertical-align: middle;
}

section.welcome ul.stats li:last-child {
	border-right: 1px solid #DDDDDD;
}

section.welcome ul.stats li p {
	margin: 0px;
	padding: 17px 15px 0px 15px;
}

section.welcome ul.stats li p span {
	display: block;
	font-size: 14px;
	padding: 10px 0px 0px 0px;
}

section.welcome ul.stats li p span.count {
	font-size: 36px;
	padding-top: 0px;
}

@media screen and (max-width: 750px) {
	section.welcome ul.stats li.needed, section.welcome ul.stats li.shared {
		display: none;
	}
}

@media screen and (max-width: 650px) {
	section.welcome article.map {
		display: none;
	}
}

@media screen and (max-width: 450px) {
	section.welcome ul.stats li.recurring {
		display: none;
	}

	section.welcome ul.stats li.next {
		border-right: 1px solid #DDDDDD;
	}
}

/**
 * List of trips
 * ----------------------------------
*/

section.content ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

section.content ul li {
	border-bottom: 1px solid #DDDDDD;
	list-style: none;
	margin: 0px;
	min-height: 200px;
	padding: 10px 0px;
	position: relative;
}

section.content ul li:last-child {
	border-bottom: none;
}

section.content ul li img {
	border-radius: 100%;
    float: left;
    margin-top: 10px;
}

section.content ul li img.mobile {
    display: none;
}

section.content ul li h3 {
	color: #222222;
	font-size: 15px;
	font-weight: bolder;
	letter-spacing: 1px;
	line-height: normal;
	margin: 10px 0px 0px 210px;
	padding: 0px;
	text-transform: uppercase;
}

section.content ul li h3 span.notice {
	border-radius: 3px;
	font-size: 10px;
	margin-left: 7px;
	padding: 2px 6px;
	text-transform: uppercase;
	white-space: nowrap;
}

section.content ul li h3 span.notice.fulfilled {
	background: #7AD03A;
	border: 1px solid #339900;
}

section.content ul li h3 span.notice.recurring {
	background: #FFFF66;
	border: 1px solid #FFCC00;
}

section.content ul li h3 span.notice.warning {
	background: #FF3366;
	border: 1px solid #990000;
	color: #FFFFFF;
}

section.content ul li h4 {
	color: #222222;
	font-size: 11px;
	margin: 0px 0px 20px 210px;
	padding-top: 5px;
}

section.content ul li p {
	color: #222222;
	font-size: 11px;
	margin: 0px 0px 0px 210px;
}

section.content ul li a.btn {
	color: #FFFFFF;
}

section.content ul li a.btn.edit {
	bottom: 15px;
	position: absolute;
	right: 105px;
}

section.content ul li button.btn.delete {
	bottom: 15px;
	position: absolute;
	right: 10px;
}

@media screen and (max-width: 650px) {
    section.content ul li {
        min-height: 140px;
    }

    section.content ul li h3, section.content ul li h4, section.content ul li p {
	    margin-left: 130px;
    }

    section.content ul li img.desktop {
        display: none;
    }

    section.content ul li img.mobile {
        display: block;
    }

	section.content ul li a.btn.edit {
		right: 55px;
	}
	
	section.content ul li a.btn.edit span, section.content ul li button.btn.delete span {
		display: none;
	}
}

@media screen and (max-width: 450px) {
	section.content ul li p {
		display: none;
	}
}

/**
 * No trips available
 * ----------------------------------
*/

section.content div.none {
	display: none;
	height: 150px;
	text-align: center;
}

section.content div.none.show {
	display: block;
}

section.content div.none p {
	padding-top: 25px;
}

section.content div.none a {
	background: url(sprites/mr-smiley.png) no-repeat bottom left;
	display: inline-block;
	height: 50px;
	line-height: 3.45;
	margin-top: 10px;
	padding-left: 60px;
	vertical-align: middle;
}

section.content div.none a:hover {
	background-position: top left;
}

/**
 * Modal dialogs
 * ----------------------------------
*/

div.confirm-dialog div.modal-header h3 {
        font-weight: lighter;
}

div.confirm-dialog div.modal-footer {
        position: relative;
}

div.confirm-dialog div.modal-footer span.validate {
        color: #FF0000;
        left: 15px;
        position: absolute;
        top: 19px;
}

@media screen and (max-width: 650px) {
        div.confirm-dialog div.modal-footer {
                border-top: none;
                padding: 0px;
        }
        
        div.confirm-dialog div.modal-footer span.validate {
                display: none;
        }
        
        div.confirm-dialog div.modal-footer button.confirm {
                border-radius: 0px;
                width: 100%;
        }
        
        div.confirm-dialog div.modal-footer button.close-dialog {
                border-radius: 0px 0px 5px 5px;
                margin-left: 0px;
                width: 100%;
        }
}