/**
 * List of trips
 * ----------------------------------
*/

section.content ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

section.content ul li {
	border-bottom: 1px solid #DDDDDD;
	list-style: none;
	margin: 0px;
	min-height: 200px;
	padding: 10px 0px;
	position: relative;
}

section.content ul li:last-child {
	border-bottom: none;
}

section.content ul li img {
	border-radius: 100%;
    float: left;
    margin-top: 10px;
}

section.content ul li img.mobile {
    display: none;
}

section.content ul li h3 {
	color: #222222;
	font-size: 15px;
	font-weight: bolder;
	letter-spacing: 1px;
	line-height: normal;
	margin: 10px 0px 0px 210px;
	padding: 0px;
	text-transform: uppercase;
}

section.content ul li h4 {
	color: #222222;
	font-size: 11px;
	margin: 0px 0px 20px 210px;
	padding-top: 5px;
}

section.content ul li p.left {
	color: #222222;
	font-size: 11px;
	margin: 0px 0px 20px 210px;
}

section.content ul li span.notice {
	border-radius: 3px;
	font-size: 10px;
	margin-left: 7px;
	padding: 2px 6px;
	text-transform: uppercase;
	white-space: nowrap;
}

section.content ul li.expired span.notice {
	background: #FF3366;
	border: 1px solid #990000;
	color: #FFFFFF;
}

section.content ul li.expiring span.notice {
	background: #FFFF66;
	border: 1px solid #FFCC00;
}

section.content ul li.sold span.notice {
	background: #7AD03A;
	border: 1px solid #339900;
}

section.content ul li a.btn {
	color: #FFFFFF;
}

section.content ul li button.btn.restore {
	bottom: 15px;
	position: absolute;
	right: 185px;
}

section.content ul li a.btn.edit {
	bottom: 15px;
	position: absolute;
	right: 105px;
}

section.content ul li button.btn.delete {
	bottom: 15px;
	position: absolute;
	right: 10px;
}

@media screen and (max-width: 650px) {
    section.content ul li {
        min-height: 140px;
    }

    section.content ul li h3, section.content ul li h4, section.content ul li p.left {
	    margin-left: 130px;
    }

    section.content ul li img.desktop {
        display: none;
    }

    section.content ul li img.mobile {
        display: block;
    }

	section.content ul li a.btn.edit {
		right: 55px;
	}
	
	section.content ul li button.btn.restore {
		right: 100px;
	}
	
	section.content ul li button.btn.restore span, section.content ul li a.btn.edit span, section.content ul li button.btn.delete span {
		display: none;
	}
}

@media screen and (max-width: 450px) {
	section.content ul li p.left {
		display: none;
	}
}

/**
 * No trips available
 * ----------------------------------
*/

section.content div.none {
	display: none;
	height: 150px;
	text-align: center;
}

section.content div.none.show {
	display: block;
}

section.content div.none p {
	padding-top: 25px;
}

section.content div.none a {
	background: url(sprites/mr-smiley.png) no-repeat bottom left;
	display: inline-block;
	height: 50px;
	line-height: 3.45;
	margin-top: 10px;
	padding-left: 60px;
	vertical-align: middle;
}

section.content div.none a:hover {
	background-position: top left;
}