/**
 * Google Maps canvas
 * ----------------------------------
*/

article#map {
	height: 480px;
	width: 100%;
}

article#map h2 {
	display: none;
}

article#map img {
	max-width: none; /* Fixes a Google Maps/Twitter Bootstrap styling conflict */
}

/**
 * Welcome content area styles
 * ----------------------------------
*/

article#welcome ul {
	list-style: none;
	margin: 60px 0px 0px 0px;
	padding: 0px;
	text-align: center;
}

article#welcome ul li {
	background: #1F1F1F url(sprites/welcome-icons.png) no-repeat;
	cursor: pointer;
    display: inline-block;
    height: 292px;
    margin: 7px;
	padding: 0px;
    position: relative;
    vertical-align: top;
    width: 305px;
}

article#welcome ul li.browse {
	background-position: 90px 107px;
}


article#welcome ul li.browse:hover {
	background-position: 90px -282px;
}

article#welcome ul li.request {
	background-position: -217px 130px;
}


article#welcome ul li.request:hover {
	background-position: -217px -260px;
}

article#welcome ul li.share {
	background-position: -502px 120px;
}

article#welcome ul li.share:hover {
	background-position: -502px -270px;
}

article#welcome ul li h3 {
	color: #FFFFFF;
    font-size: 18px;
	font-weight: 600;
	letter-spacing: 8px;
	padding: 46px 0px 197px 0px;
	margin: 0px;
	text-transform: uppercase;
}

article#welcome ul li h3::after {
	border-top: 2px solid #FFFFFF;
	content: ' ';
	display: block;
	margin: 7px auto 0px auto;
	padding: 0px;
	width: 200px;
}